/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 900px;
	margin: 0 auto;
	border: 1px solid red;
}

.nav-section {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.nav-section a {
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	color: gray;
}

.banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 40px;

}

.text {
	display: flex;
	flex-direction: column;
	font-size: 60px;
	margin-right: 40px;
	text-align: center;
}
.text p {
	font-size: 18px;
	border: 1px solid black;
}



.row-1 {
	margin: 20px 30px;
	padding: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.middle-img {
	width: 90%;
	margin-left: 40px;
}

.row-2 {
	margin: 15px;
	padding: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.services-nav {
	margin-bottom: 20px;

}


.services-header {
	margin: 5px 15px 20px 5px;
	padding: 50px;
	border-bottom: 1px solid black;
}

.services-header h2 {
	font-size: 25px;
}


/* Just plain old fashioned centering, don't know if we should use flexbox here to center
   this image?    */

.services-header-img {
	display: block;
	width: 800px;
	margin: 0 auto;
}

/* TODO -- don't think this is the right way to do those service boxes and feels kinda hacky */
/*         basically just using this as a learning experiment    */

.service-boxes {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 40px;
	
}

.service {
	width: 400px;
	border: 1px solid black;
	padding: 20px;
	background-color: #f2f2f2;
	margin: 20px;
}

.service-facts h3 {
	margin-left: 20px;
}

.service-facts p {
	margin-bottom: 20px;
	
}

.service-facts ul {
	list-style-type: disc;
	margin-left: 20px;
	padding: 10px;
}

ul li {
	padding: 3px;
}

.services-info-img {
	width: 300px;
	height: 200px;
	margin-left: 50px;
}

.service-facts-container {
	display: flex;
	margin: 10px 20px 30px 20px;
}

.column {
	justify-content: space-around;
}

.services-footer {
	margin: 50px 0 20px 0;
	text-align: center;
}